node_modules
npm-debug.log
.git
.gitignore
.env
.env.*
!.env.example
tests
specs
reports
*.md
!README.md
.vscode
.devcontainer
dist
coverage
*.test.js
*.spec.js
.cucumber.js
cucumber.config.js
vitest.config.js
